body {
    background-color: #272822;
    font-family: Consolas, 'Courier New', monospace;
}

a {
    color:#66d9ef;
    text-decoration: none;
}

#header {
    text-align:center;
}

#name {
    color: #f92672;
    width:99%;
}

#status {
    color:#a6e22e;

}

.download_cv {
    background-color: #f8f8f2;
    border-radius: 10px;
    padding: 7px;
}

@media (max-width: 460) {
    #first_title {
        margin-top:20%; 
    }
}

#title {
    color:#a6e22e;
    margin-top:5%;
}


.chouquette {
    color:#e6db74; 
}

.text {
    color:#66d9ef;
}

li {
    margin-bottom: 1%;
}

.icon_lien {
    width: 15px;
}